.contenedor{
    height: 397px;
    font-size:400px;
    width: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    align-content: center;
    justify-content:center;
    color: white;
       
}

.item1{
    background-color:red;
    width: 165px;
    font-size: 30px;
    height: 165px;
    display: flex;
    align-items:center;
    justify-content: center;
  
      
   
}
.item2{
    background-color: blue;
    width: 165px;
    /* margin: 10px; */
    font-size: 30px;
    height: 165px;
    display: flex;
    align-items:center;
    justify-content: center;
    

    
}
.item3{
    background-color: green;
    width: 165px;
    /* margin: 10px; */
    font-size: 30px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}